#app main div{
  .table{
    width: 100%;
  }
  .row{
    display: flex;
    cursor: pointer;
  }
  .row:nth-child(1) .cell{
    text-align: center;
    text-transform: capitalize;
    background-color: var(--momo-blue);
    filter:grayscale(25%);
  }
  .row:nth-child(1) > div.cell{
    color: var(--momo-white);
  }
  .cell{
    flex: 1;
    padding: 0.25em;
    border: 1px solid var(--momo-blue);
  }
}