@import 'variables';

html, body{
    font-family: 'Open Sans2', Arial, sans-serif;
    font-size:15px;
    line-height: 1.5em;
}
input, button{
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 1em;
    margin-bottom: 0.5em;
    border-radius: 4px;
    border-color: #f8f8f8;
}
#app button.submit{
    background-color: var(--momo-red);
}
input:focus{
    outline-color: 1px solid var(--momo-black);
    outline-style:groove;
}
#app{
    *{
        color: var(--momo-black);
    }
    @keyframes shake {
        10% {transform: translateX(10px);}
        33% {transform: translateX(-10px);}
        66% {transform: translateX(10px);}
        100% {transform: translateX(-10px);}
      }
    form{
        width: 20em;
        max-width: 100%;
        margin: 2em auto;
        padding: 8px;
        padding-bottom: 1em;
        background-color: #f8f8f8;
        border-left: 4px solid var(--momo-blue);
    } 
    form div{
        padding-bottom:0.5em;
        text-align: right;
    }
    form.invalid{
        animation-name: shake; 
        animation-duration: 0.5s;
        animation-iteration-count: 2;
        animation-timing-function: linear;
    }
    input{
        width: 100%;
    }
    button{
        cursor: pointer;
        margin-top: 1.5em;
        background-color: var(--momo-blue);
        color: var(--momo-white);
        border: 1px solid var(--momo-white);
    }
    button:hover{
        zoom: 1.1;
    }
    ul{
        list-style-type:none
    }
    .small-font{
        font-size: 80%;
    }
    .italic{
        font-style: italic;
    }
    .hide{
        display: none;
    }
    nav,
    main,
    .header{
        float: left;
        width: 100%;
        box-sizing: border-box;
    }
    nav{
        padding: 0.5em 0.5em;
    }
    ul{
        padding: 0;
        margin: 0;
    }
    textarea{
        min-height: 4em;
        line-height: $line-height;
        width: 100%;
        max-width: 100%;
        padding: 0.5em 1em;
        box-sizing: border-box;
    }
    .header div.user-details > ul{
        width: 10em;
        box-sizing: border-box;
    }
    .header ul.user-details,
    .header ul.user-details .dropdown{
        width: 10em;
        float:right;
        box-sizing: border-box
    }
    .header ul.user-details li{
        cursor: pointer;
    }
    .header ul li.name{
        padding-left: 0.5em;
        font-size: 80%;
    }
    .header ul.user-details ul li{
        padding-left: 0.5em;
        padding-top: 0.5em;
    }
    .clr-border-left-admin,
    .clr-border-left-admin ul{
        box-shadow:2px 0 0 0 var(--momo-red) inset;
    }
    .clr-border-left-teacher,
    .clr-border-left-teacher ul{
        box-shadow:2px 0 0 0 var(--momo-blue) inset;
    }
    .clr-border-left-student,
    .clr-border-left-student ul{
        box-shadow:2px 0 0 0 var(--momo-green) inset;
    }
}