:root{
    --momo-black: #333333;
    --momo-grey: #cccccc;
    --momo-white: #fff;
    --momo-red: #ec6744;
    --momo-purple: #a799c9;
    --momo-green: #accb4a;
    --momo-orange:  #f2ac40;
    --momo-blue: #7dc1eb;
    --momo-yellow: #f1e60e;
}